<section class="section brd-btm" id="profetional">
    <div class="row">
        <div class="clear-mrg">

            <h2 class="title-thin text-muted">职业技能</h2>

            <div class="col-sm-6 clear-mrg">
                <div class="ref-info">

                    <blockquote class="ref-cont clear-mrg">
                        <p>熟练使用Java编程，有良好的编码能力，熟悉面向对象编程
                        </p>
                        <p>熟练使用Spring，SpringBoot，MyBatis框架;了解Spring，MyBatis核心原理
                        </p>
                        <p>熟悉MySql、Oracle数据库的基本操作及sql语句编写</p>
                        <p>了解redis存储机制及运行原理</p>
                        <p>了解vue，js，html等前端技术;可以使用vue+elementUI开发功能页面</p>
                        <p>了解linux系统基本操作;搭建过maven私服、Jenkins、redis集群、zk集群、MySql主备复制</p>
                    </blockquote>
                </div>
            </div>

        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->
