<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">工作经历</h2>
            <br />
            <div class="education">
                <div class="education-box">
                    <time class="education-date" datetime="2017-12TNow">
                        <span> <strong class="text-upper">2017.12</strong> - <strong>至今</strong></span>
                    </time>
                    <h3>java开发工程师</h3>
                    <span class="education-company"> 天创信用服务有限公司</span>
                    <p>独立完成风控系统的开发，维护，部署</p>
                    <p>信用百科功能迭代、系统部署</p>
                    <p>公司核心风控引擎“风云诀”的数据中心和统计中心的版本迭代和维护</p>
                    <p>参与“风云诀”的本地部署，负责系统的部署、数据源接口的对接以及风控变量的加工</p>
                    <p>获得“2017年度最佳优秀团队奖”，“2018年上半年最佳新员工奖”，“2020年度最佳优秀团队奖”</p>
                </div>
                <!-- .education-box -->

                <div class="education-box">
                    <time class="education-date" datetime="2014-09T2016-01">
                        <span> <strong class="text-upper">2016.06</strong> -  <strong>2017.05</strong></span>
                    </time>
                    <h3>数据库运维工程师(实习)</h3>
                    <span class="education-company">亚信科技（中国）有限公司</span>
                    <p>参与crm项目的数据库割接</p>
                    <p>参与boss-crm系统的日常运维</p>
                    <p>参与山东移动crm项目的自动化测试和掌厅测试，维护自动化测试脚本</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- .section -->
